.products-heading {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}


.big-heading {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: oblique;
    color: #0a3f49;
    /*text-decoration: underline;*/
    /*text-underline: wavy-double;*/
}

.copyright {
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
}