<div style="height: 90vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span fxLayoutGap="10px">PMC Enterprises</span>
      <span fxFlex></span>
      <div fxShow="true" fxHide.lt-md>
        <a mat-button>ABOUT</a>
        <a mat-button>CONTACT US</a>
        <a mat-button>LOGIN</a>
      </div>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav [position]="'end'">
      <mat-nav-list>
        <a mat-list-item>ABOUT</a>
        <a mat-list-item>CONTACT US</a>
        <a mat-list-item>LOGIN</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>