@import "~@angular/material/theming";
@import "./../assets/styles/colors.scss";

.mat-toolbar {
  font-family: "Lilita One", cursive;
  color: $navy-blue;
  height: 4rem;
  background-color: $white;
}

.mat-sidenav {
  min-width: 300px;
}
