<div class="util">
  <div class="wa-field">
  <mat-form-field appearance="outline">
    <mat-label>WhatsApp Number</mat-label>
    <input [(ngModel)]="number" (focus)="onFocus()" type="number" matInput placeholder="123456789">

    <mat-icon tabindex="0" class="send-button" matSuffix (click)="sendMessage()">
      send
    </mat-icon>
  </mat-form-field>
  </div>
</div>
