<div class="dashboard" fxLayout="column">
    <div class="title">
        Trusted manufacturer of high quality crockery items
    </div>

    <div class="quote" fxLayout="row" fxLayoutAlign="center">
        <button class="button" mat-flat-button>Get Quote
            <!-- <p class="icon-container">
                <i class="fas fa-long-arrow-alt-up"></i>
            </p> -->
        </button>
    </div>

    <div class="products-list" fxLayout="column">
        <div class="popular-title">
            Most Popular Products
        </div>

        <!-- <mat-divider></mat-divider> -->

        <div class="items-list" fxLayout="column" fxLayoutGap="20px">
            <mat-card class="example-card mat-elevation-z4">
                <img mat-card-image src="./../../assets/images/image1.png"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                       Doga
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-card mat-elevation-z4">
                <img mat-card-image src="./../../assets/images/image2.png"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Dinner Set
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-card mat-elevation-z4">
                <img mat-card-image src="./../../assets/images/dinner_plate.png"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Dinner Plate Full
                    </p>
                </mat-card-content>

            </mat-card>
        </div>

        <div class="popular-title">
           See All
        </div>
    </div>

    <footer class="footer">
        <div class="row info">
          H-37, Pocket 4<br> Bawana Industrial Area,<br> New Delhi,<br> 110073 <br>
          Phone: +91-9213132677 <br>
          Email: pmc.entp@gmail.com
        </div>
  
        <div class="row footer-icons">
          <i class="fab fa-whatsapp link-icon" (click)="navigateTo('wa')"></i>
          <i class="fab fa-facebook-square link-icon" (click)="navigateTo('fb')"></i>
          <i class="far fa-envelope link-icon" (click)="navigateTo('mail')"></i>
        </div>
  
        <div class="row footer-copyright">
          © Copyright 2020: PMC Enterprises
        </div>
      </footer>
  
</div>