@import "../../assets/styles/colors.scss";

.dashboard {
  // background-color: pink
  height: 100%;
}

.title {
  font-family: "Open Sans", sans-serif;
  width: 60%;
  margin: 3rem auto 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $navy-blue;
  font-weight: bold;
  text-align: center;
}

.quote .button {
  padding: 0 36px;
  border-radius: 24px;
  background: black;
  color: white;
}

.icon-container {
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  right: 24px;
  font-size: 10px;
}

.popular-title {
  font-family: "Open Sans", sans-serif;
  width: 60%;
  margin: 3rem auto 2rem;
  font-size: 14px;
  line-height: 2rem;
  color: $navy-blue;
  font-weight: bold;
  text-align: center;
}

.items-list {
  width: 80%;
  margin: auto;
}


.footer {
    color: ghostwhite;
    background-color: #37474f;
  }
  
  .footer-icons {
    justify-content: center;
    padding: 2em;
  }
  
  .footer-copyright {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    padding: 1em;
  }
  
  .link-icon {
    font-size: 22px;
    margin: 0 0.5em;
  }
  
  .info {
    text-align: center;
    justify-content: center;
    padding: 0.5em;
  }
  